/Task2/apz-pzpi-21-7-vysochyn-illia-task2/node_modules/
/Task2/apz-pzpi-21-7-vysochyn-illia-task2/config.js
/Task2/apz-pzpi-21-7-vysochyn-illia-task2/backups/
/Task3/apz-pzpi-21-7-vysochyn-illia-task3/.vs/
/Task3/apz-pzpi-21-7-vysochyn-illia-task3/bin/
/Task3/apz-pzpi-21-7-vysochyn-illia-task3/obj/
/Task3/apz-pzpi-21-7-vysochyn-illia-task3/packages/
/.idea/
